        <section class="right">
        
        	<div class="borda-conteudo round">
            
            	<table cellpadding="0" cellspacing="0" class="tb-conteudo">
                	<tr class="titulo-tb">
                    	<td>
                        <h2>ALUNOS</h2>
                        <a class="bt-relatorio" href="javascript:;">Relatorio</a>
                        <a class="bt-imprimir" href="javascript:;">Imprimir</a>
                        </td>
                        
                    <tr>
                    
                    <tr class="barra-add-novo-tb">
                    	<td>
                        <a href="javascript:;" class="bt-add">ADICIONAR NOVO ALUNO</a>
                        </td>
                    </tr>
                    <tr>
                    
                    	<td>
                        	<table cellpadding="0" cellspacing="0" class="tabela-dados" id="tabela-dados">
                            
                            	<!--Título dados da Tabela-->
                            	<thead>
                                	<tr id="titulo-dados">
                                        <td><form><input type="checkbox" class="input-selecao"/></form></td>
                                    	<td class="col02">Nome</td>
                                        <td class="col03">Matéria</td>
                                        <td class="col04">Professor</td>
                                        <td class="col05">Nota 01</td>
                                        <td class="col06">Nota 02</td>
                                        <td class="col07">Nota 03</td>
                                        <td class="col08">Nota 04</td>
                                        <td class="col09">Média Final</td>
                                        <td class="acoes" >Ações</td>
                                	</tr>
                                </thead>
                                <!--Fim Titulos dados da Tabela-->
                                
                                <!--Rodape dados da Tabela-->
                                
                                <tfoot>
                                	<tr id="rodape-dados">
                                        <td colspan="10"><a href="javascript:;" class="bt-excluir-todos">EXCLUIR SELECIONADOS</a></td>
                                	</tr>
                                </tfoot>
                                
                                <!-- FIm Rodape dados da Tabela-->
                                
                                <!-- Dados da Tabela-->
                                <tbody>
                                	<tr>
                                        <td><form><input type="checkbox"  class="input-selecao"/></form></td>
                                    	<td>João Ferandes</td>
                                        <td>Lorem</td>
                                        <td>Felipe</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td class="acoes" >
                                        	<ul> 
                                        		<li><a href="javascript:;" class="bt-editar"></a></li>
                                            	<li class="separador-acoes"></li>
                                            	<li><a href="javascript:;" class="bt-excluir"></a></li>
                                            </ul>
                                            
                                        </td>
                                	</tr>
                                    
                                    
                                    <tr>
                                        <td><form><input type="checkbox"  class="input-selecao"/></form></td>
                                    	<td>João Ferandes</td>
                                        <td>Lorem</td>
                                        <td>Felipe</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td class="acoes" >
                                        	<ul> 
                                        		<li><a href="javascript:;" class="bt-editar"></a></li>
                                            	<li class="separador-acoes"></li>
                                            	<li><a href="javascript:;" class="bt-excluir"></a></li>
                                            </ul>
                                            
                                        </td>
                                	</tr>
                                    
                                    
                                    <tr>
                                        <td><form><input type="checkbox"  class="input-selecao"/></form></td>
                                    	<td>João Ferandes</td>
                                        <td>Lorem</td>
                                        <td>Felipe</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td class="acoes" >
                                        	<ul> 
                                        		<li><a href="javascript:;" class="bt-editar"></a></li>
                                            	<li class="separador-acoes"></li>
                                            	<li><a href="javascript:;" class="bt-excluir"></a></li>
                                            </ul>
                                            
                                        </td>
                                	</tr>
                                    
                                    <tr>
                                        <td><form><input type="checkbox"  class="input-selecao"/></form></td>
                                    	<td>João Ferandes</td>
                                        <td>Lorem</td>
                                        <td>Felipe</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td class="acoes" >
                                        	<ul> 
                                        		<li><a href="javascript:;" class="bt-editar"></a></li>
                                            	<li class="separador-acoes"></li>
                                            	<li><a href="javascript:;" class="bt-excluir"></a></li>
                                            </ul>
                                            
                                        </td>
                                	</tr>
                                    
                                    <tr>
                                        <td><form><input type="checkbox"  class="input-selecao"/></form></td>
                                    	<td>João Ferandes</td>
                                        <td>Lorem</td>
                                        <td>Felipe</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td class="acoes" >
                                        	<ul> 
                                        		<li><a href="javascript:;" class="bt-editar"></a></li>
                                            	<li class="separador-acoes"></li>
                                            	<li><a href="javascript:;" class="bt-excluir"></a></li>
                                            </ul>
                                            
                                        </td>
                                	</tr>
                                    
                                    
                                    <tr>
                                        <td><form><input type="checkbox"  class="input-selecao"/></form></td>
                                    	<td>João Ferandes</td>
                                        <td>Lorem</td>
                                        <td>Felipe</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td class="acoes" >
                                        	<ul> 
                                        		<li><a href="javascript:;" class="bt-editar"></a></li>
                                            	<li class="separador-acoes"></li>
                                            	<li><a href="javascript:;" class="bt-excluir"></a></li>
                                            </ul>
                                            
                                        </td>
                                	</tr>
                                    
                                    <tr>
                                        <td><form><input type="checkbox"  class="input-selecao"/></form></td>
                                    	<td>João Ferandes</td>
                                        <td>Lorem</td>
                                        <td>Felipe</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td class="acoes" >
                                        	<ul> 
                                        		<li><a href="javascript:;" class="bt-editar"></a></li>
                                            	<li class="separador-acoes"></li>
                                            	<li><a href="javascript:;" class="bt-excluir"></a></li>
                                            </ul>
                                            
                                        </td>
                                	</tr>
                                    
                                    
                                </tbody>
                                <!--Fim dados da Tabela-->
                                
                            </table>
                            <script>zebra('tabela-dados','linha-cinza');</script>
                        
                        </td>
                    
                    </tr>
                    
                
                </table>
                
                <ul id="paginacao">
                	<li><a href="javascript:;" id="bt-anterior"></a></li>
                	<li><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;" class="selected">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">5</a></li>
                    <li><a href="javascript:;">6</a></li>
                    <li><a href="javascript:;" id="bt-proximo"></a></li>
                    
                </ul>
            
            <br clear="all" />
            </div>
        </section>