 	<div class="content-row">
    	<div class="content-left">
        	<div class="col-1">
            	<!-- box begin-->
                <div class="box">
                    <b class="xb1"></b>
                    <b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
                    <b class="xb5"></b>
                    <b class="xb6"></b>
                    <b class="xb7"></b>
                        <div class="xboxcontent">
                            <div class="indent-box">
                                <h1>UEFA European Football Championship</h1>
                                <div class="text-left">
                                	<a href="#" class="link-1 indent-bot">Fusce euismod consequat ante. Lorem ipsum dolor</a>
                                    Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellener tesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet.
                                	<div class="indent-top-bot clear">
                                    	<img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>2page_img_1.gif" class="img-left1" alt="" />
                                        <a href="#" class="link-1 indent-bot">Smod consequat ante. Loremres</a>
                                        Consequat ante. Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut.
                                        <a href="#" class="link-2 indent-top">Read More ...</a>
                                    </div>
                                    <div class="col-list list-3 indent-top-bot">
                                    	<ul>
                                        	<li><a href="#">Fusce euismod consequat ante</a></li> 
                                            <li><a href="#">Lorem ipsum dolor sit am</a></li>
                                            <li><a href="#">Consectetuer adipiscing eliters</a></li> 
                                            <li><a href="#">Pellentesque sed doloren</a></li>
                                        </ul>
                                        <ul class="indent-list">
                                        	<li><a href="#">Fusce euismod consequat ante</a></li> 
                                            <li><a href="#">Lorem ipsum dolor sit am</a></li>
                                            <li><a href="#">Consectetuer adipiscing eliters</a></li> 
                                            <li><a href="#">Pellentesque sed doloren</a></li>
                                        </ul>
                                    </div>
                                </div>
                                 <span class="line indent-top"></span>
                                 <h1>Final Tournament</h1>
                                 <div class="text-left ">
                                 	<a href="#" class="link-1 indent-bot">Euismod consequat ante. Lorem ipsum dolor seren amet sretre dollor porta quersten hasellus amet dollor</a>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla qeyr venenatis. In pede mi, aliquet sit amet euismod in, uctor ut, ligula. Liquam dapibus tincidunt ater metus. Praesent justo dolor, lobortis quis, lobortis dignissim serem.
                                    <div class="clear indent-top-bot">
                                    	<img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>2page_img_2.gif" class="img-left1" alt="" />
                                        <a href="#" class="link-1 indent-bot">Smod consequat ante. Loremres</a>
                                        Consequat ante. Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut.
                                        <a href="#" class="link-2 indent-top">Read More ...</a>
                                    </div>
                                     <div class="clear">
                                    	<img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>2page_img_3.gif" class="img-left1" alt="" />
                                        <a href="#" class="link-1 indent-bot">Ateres nseqat ante. Loremserene</a>
                                        Consequat ante. Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut.
                                        <a href="#" class="link-2 indent-top">Read More ...</a>
                                    </div>
                                    <a href="#" class="link-2 indent-top">Read More ...</a>
                                 </div>
                            </div>
                        </div>
                    <b class="xb7"></b>
                    <b class="xb6"></b>
                    <b class="xb5"></b>
                    <b class="xb4"></b>
                    <b class="xb3"></b>
                    <b class="xb2"></b>
                    <b class="xb1"></b>
              </div>
               <!-- box end-->
            	
            </div>
            <div class="col-2">
            	<form id="form" action="" enctype="multipart/form-data">
            		<div class="select bg-input"><input type="text"  onfocus="this.value=''" value="Site search" /><a href="#" onclick="document.getElementById('form').submit()"><img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>spacer.gif" alt="" /></a></div>
                </form>
                <!-- box begin-->
                <div class="box">
                    <b class="xb1"></b>
                    <b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
                    <b class="xb5"></b>
                    <b class="xb6"></b>
                    <b class="xb7"></b>
                        <div class="xboxcontent">
                            <div class="indent-box">
                                <h1>Matches Online</h1>
                                <h2>Champions League</h2>
                                <span class="text-1">08.13.2008 Qualification. Round 3 </span>
                                <ul class="list indent-top indent-bot">
                                	<li><a href="#"><span>19:00</span> Saprtak M -  Dynamo K</a></li>
                                    <li><a href="#"><span>20:00</span> Shakhtar  -  Dinamo Zagreb</a></li>
                                    <li><a href="#"><span>20:00</span> Levski	- BATE</a></li>
                                    <li><a href="#"><span>21:00</span> Anorthosis - Olympiacos</a></li>
                                    <li><a href="#"><span>21:05</span> AaB - Kaunas</a></li>
                                    <li><a href="#"><span>21:15</span> Galatasaray - Steaua</a></li>
                                    <li><a href="#"><span>21:45</span> Juventus - Artmedia</a></li>
                                    <li><a href="#"><span>21:45</span> Brann -  Marseille</a></li>
                                    <li><a href="#"><span>21:45</span> Schalke	 - Atlético</a></li>
                                    <li><a href="#"><span>21:45</span> Twente	 - Arsenal</a></li>
                                    <li><a href="#"><span>21:45</span> Sparta	- Panathinaikos</a></li>
                                    <li><a href="#"><span>22:00</span> Partizan - Fenerbahçe</a></li>
                                    <li><a href="#"><span>22:05</span> Standard - Liverpool</a></li>
                                    <li><a href="#"><span>22:30</span> Guimarães - Basel</a></li>
                                    <li><a href="#"><span>23:00</span> Barcelona - Wisła Kraków</a></li>
                                </ul>
                                <span class="text-1 indent-bot indent-top">08.12.2008 Qualification. Round 3  </span>
                                <ul class="list-1 indent-bot">
                                	<li><a href="#"><span>21:45</span> Fiorentina <strong>2-0</strong> Slavia</a></li>
                                </ul>
                                <div class="clear"><h2 class="indent-top ">Olympics</h2></div>
                                <span class="text-1">08.13.2008 Group A </span>
                                <ul class="list-2 indent-bot indent-top">
                                	<li><a href="#"><span>14:45</span> Cote D’Ivoire  - Australia</a></li>
                                    <li><a href="#"><span>14:45</span> 	Argentina - serbia</a></li>
                                </ul>
                                <span class="text-1 indent-bot indent-top1">08.13.2008 Group B </span>
                                <ul class="list-1">
                                	<li><a href="#"><span>12:00</span> Netherlands <strong>1-0</strong> Japan</a></li>
                                    <li><a href="#"><span>12:00</span> 	Nigeria <strong>2-1</strong> USA</a></li>
                                </ul>
                                <span class="text-1 indent-bot indent-top1">08.13.2008 Group C</span>
                                <ul class="list-2 indent-bot">
                                	<li><a href="#"><span>14:45</span> China - Brasil</a></li>
                                    <li><a href="#"><span>14:45</span> 	New Zealand - Belgium</a></li>
                                </ul>
                            </div>
                        </div>
                    <b class="xb7"></b>
                    <b class="xb6"></b>
                    <b class="xb5"></b>
                    <b class="xb4"></b>
                    <b class="xb3"></b>
                    <b class="xb2"></b>
                    <b class="xb1"></b>
              </div>
               <!-- box end-->
            </div>
            <div class="col-3">
            	<div class="select"><select><option>Choose Country</option></select></div>
                <!-- box begin-->
                <div class="box">
                    <b class="xb1"></b>
                    <b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
                    <b class="xb5"></b>
                    <b class="xb6"></b>
                    <b class="xb7"></b>
                        <div class="xboxcontent">
                            <div class="indent-box">
                               <div class="text-left">
                               		 <h1>Leagues</h1>
                                        <p class="indent-img"><a href="#"><img class="img" src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_6.jpg" alt="" /></a><a href="#"><img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_7.jpg" alt="" /></a></p>
                                        <p class="indent-img"><a href="#"><img class="img" src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_8.jpg" alt="" /></a><a href="#"><img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_9.jpg" alt="" /></a></p>
                                        <p class="indent-img"><a href="#"><img class="img" src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_10.jpg" alt="" /></a><a href="#"><img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_11.jpg" alt="" /></a></p>
                                        <p class="indent-img"><a href="#"><img class="img" src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_12.jpg" alt="" /></a><a href="#"><img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_13.jpg" alt="" /></a></p>
                               			<a href="#" class="link-2 indent-left">More Leagues ...</a>
                               </div>
                               <span class="line"></span>
                               <div class="text-left">
                               		<h1>Video</h1>
                                    <a href="#"><img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_14.jpg" class="indent-bot" alt="" /></a>
                                    <a href="#" class="link-3 indent-bot">Matuzalem Scores for Lazio VIDEO</a>
                                    <a href="#"><img src="<? print URL_PORTAL.'templates/'.TEMPLATE.'/images/'?>1page_img_15.jpg" class="indent-bot indent-top" alt="" /></a>
                                    <a href="#" class="link-3 indent-bot">Fiorentina <strong>2-0</strong> Slavia VIDEO</a>
                                    <a href="#" class="link-2 indent-top">More Videos ...</a>
                               </div>
                            </div>
                        </div>
                    <b class="xb7"></b>
                    <b class="xb6"></b>
                    <b class="xb5"></b>
                    <b class="xb4"></b>
                    <b class="xb3"></b>
                    <b class="xb2"></b>
                    <b class="xb1"></b>
              </div>
               <!-- box end-->
            </div>
        </div>
    </div>